<!DOCTYPE html>
<html>
<head>
  <title>Techlympics Management Panel</title>
  <link rel="stylesheet" href="./main.css?v2.5.0">

</head>
<body>
  <%if(!session){%>
    <%- include ('__login.ejs') %>
  <%}else{%>
  <div class="container">
    
    <div class="nav">
      <div class="nav-menus">
        <div class="brand">TechManage</div>
        <div id="btnfizikal" for="nav-fizikal" class="nav-item selected">Fizikal</div>
        <div id="btnonline" for="nav-online" class="nav-item">Online</div>
      </div>
      <div class="nav-menus float-right">
        <div class="nav-item">
          Profile
        </div>
        <div id="btnLogout" class="nav-item" onclick="onLogout()">
          Logout
        </div>
        <script>
          function onLogout(){
              window.location.href = "/admin/logout";
          }
        </script>
      </div>
    </div>

    <div class="sub-nav nav-fizikal">
      <div class="nav-menus">
        <div class="nav-item zon selected" zon="utara">
          Zon Utara
        </div>
        <div class="nav-item zon" zon="tengah">
          Zon Tengah
        </div>
        <div class="nav-item zon" zon="selatan">
          Zon Selatan
        </div>
        <div class="nav-item zon" zon="timur">
          Zon Pantai Timur
        </div>
        <div class="nav-item zon" zon="sarawak">
          Zon Sarawak
        </div>
        <div class="nav-item zon" zon="sabah">
          Zon Timur Sabah
        </div>
      </div>
    </div>

    <div class="sub-nav nav-online hide">
      <div class="nav-item">
        Pertandingan
      </div>
    </div>

    <div class="panel panel-fizikal">
      <div id="main-menu-panel" class="panel-menu">
        
      </div>

      <div class="panel-body body-kehadiran hide">
        <div class="top">
          <div class="panel-header">Kehadiran</div>
          <div class="field-group">
            <div class="field-label">Jenis Borang</div>
            <div class="field f-grow-2">
              <select name="cmbborang" id="cmbborang">
                <option value="Kehadiran">Kehadiran</option>
                <option value="Penyerahan Makanan I">Serahan Makanan I</option>
                <option value="Penyerahan Makanan II">Serahan Makanan II</option>
              </select>
            </div>
          </div>
          <div class="field-group">
            <div class="field-label">Operator</div>
            <div class="field f-grow-2">
              <input id="txtoperator" type="text" placeholder="nama operator">
            </div>
          </div>
          <div class="field-group">
            <div class="field-label">Nota</div>
            <div class="field f-grow-2">
              <input id="txtnota" type="text" placeholder="nota">
            </div>
          </div>
          <div class="field-group">
            <button id="addUser" class="float-right">Daftar</button>
          </div>
        </div>
        <div class="bottom">
          <table id="tblKehadiran" class="table">
            <thead>
              <tr>
                <th>Jenis</th>
                <th>Pengguna</th>
                <th>Nota</th>
                <th>Passcode</th>
                <th>URL</th>
                <th></th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
      </div>

      <div class="panel-body body-walkin hide">
        <div class="top">
          <div class="panel-header">Pendaftaran Walk-in</div>
        </div>
        <div class="bottom">

        </div>
      </div>
      
      <div class="panel-body body-pertandingan hide">
        <div class="top">
          <div class="panel-header">Pertandingan</div>
          <div class="field-group">
            <select name="cmbperingkat" id="cmbperingkat">
              <option value="Rendah">Rendah</option>
              <option value="Menengah">Menengah</option>
            </select>

            <select name="cmbpertandingan" id="cmbpertandingan" class="f-grow-2">
              
            </select>

            <button id="btnPertandingan">Pilih</button>
          </div>
        </div>
        <div class="bottom">

        </div>
      </div>
      
      <div class="panel-body body-dashboard hide">
        <div class="top">
          <div class="panel-header">Dashboard</div>
        </div>
        <div class="bottom">
          <div class="panel-header f-row">TOTAL KEHADIRAN<div class="clock float-right">00:00:00</div></div>
          <table class="table">
            <thead>
              <tr class="hd-dashboard">
                <th>#</th>
                <th>Kehadiran</th>
                <th>Jangka Hadir</th>
                <th>Telah Hadir</th>
                <th>Belum hadir</th>
              </tr>
            </thead>
            <tbody id="statsHadir">

            </tbody>
          </table>

          
          <div class="panel-header f-row">KEHADIRAN SEKOLAH RENDAH <div class="clock float-right">00:00:00</div></div>
          <table class="table">
            <thead>
              <tr class="hd-dashboard">
                <th>#</th>
                <th>Kehadiran</th>
                <th>Jangka Hadir</th>
                <th>Telah Hadir</th>
                <th>Belum hadir</th>
              </tr>
            </thead>
            <tbody id="statsHadir-Rendah">

            </tbody>
          </table>

          
          <div class="panel-header f-row">KEHADIRAN SEKOLAH MENENGAH<div class="clock float-right">00:00:00</div></div>
          <table class="table">
            <thead>
              <tr class="hd-dashboard">
                <th>#</th>
                <th>Kehadiran</th>
                <th>Jangka Hadir</th>
                <th>Telah Hadir</th>
                <th>Belum hadir</th>
              </tr>
            </thead>
            <tbody id="statsHadir-Menengah">

            </tbody>
          </table>
        </div>
      </div>

    </div>
    
  </div>

  <div class="popup hide">
    <div class="popup-body">
      <div class="popup-header">
        <button class="button float-right" id="btnCopy">Salin</button>
        <button class="button" id="btnClose">X</button>
      </div>
      <div id="link-panel">
        
      </div>
      <img src="" alt="" id="img-qr">
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v7.min.js"></script>

  <script>
    function getCurrentTime() {
        const now = new Date();
        const hours = String(now.getHours()).padStart(2, '0');
        const minutes = String(now.getMinutes()).padStart(2, '0');
        const seconds = String(now.getSeconds()).padStart(2, '0');
        const currentTime = `${hours}:${minutes}:${seconds}`;
        return currentTime;
    }
</script>

  <script>
    function distinct(array) {
      const uniqueArray = [];
      
      for (const item of array) {
        if (!uniqueArray.includes(item)) {
          uniqueArray.push(item);
        }
      }
      
      return uniqueArray;
    }

    function generateRandomString(length) {
      const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
      let result = '';

      for (let i = 0; i < length; i++) {
        const randomIndex = Math.floor(Math.random() * characters.length);
        result += characters.charAt(randomIndex);
      }

      return result;
    }

    var api = {
      addUser(data, fn){
        $.ajax({
          type: "POST",
          url: '/api/borangqr/adduser',
          data: data,
          success: (result)=>{
            fn(result)
          }
        });

      },

      loadUsers(zon, fn){
        $.ajax({
          type: "POST",
          url: '/api/borangqr/loadusers',
          data: {zon:zon},
          success: (result)=>{
            fn(result)
          }
        });
      },

      loadPertandingan(jenis, peringkat, fn){
        $.ajax({
          type: "POST",
          url: '/api/pertandingan/loadpertandingan',
          data: {jenis:jenis, peringkat:peringkat},
          success: (result)=>{
            fn(result)
          }
        });
      },

      loadPeserta(kod, fn){
        $.ajax({
          type: "POST",
          url: '/api/pertandingan/loadpeserta',
          data: {kod:kod},
          success: (result)=>{
            fn(result)
          }
        });
      },

      stats:{
        kehadiran(zon, peringkat, fn){
          $.ajax({
            type: "POST",
            url: '/api/stats/hadir',
            data: {zon:zon, peringkat:peringkat},
            success: (result)=>{
              fn(result)
            }
          });
        },
      },

      generate: {
        qrcode(inputData, fn){
          console.log('inputData: ',inputData)
          $.ajax({
            type: 'POST',
            url: '/api/qr/generate',
            dataType: 'json',
            data: { qrstring: inputData },
            success: function(response) {
              fn(response.qrCodeImage);
              //$('#qrCodeImage').attr('src', response.qrCodeImage);
            },
            error: function(xhr, status, error) {
              console.error('Error:', error);
              alert('An error occurred while generating the QR code.');
            }
          });
        }
      }
    }

    function loadUsers(){
      var zon = $('.zon.selected').attr('zon');
      api.loadUsers(zon, udata=>{
          var tbdy = d3.select('#tblKehadiran > tbody');
          tbdy.selectAll('*').remove();
          tbdy.selectAll('tr').data(udata).enter().append('tr').call(o=>{
            o.append('td').text(d=>d.userrole);
            o.append('td').text(d=>d.username);
            o.append('td').text(d=>d.notes);
            o.append('td').text(d=>d.pwd);
            o.append('td').append('a').attr('href',d=>window.location + (d.userrole=='Kehadiran'?'hadir/':'meal/') + d.token).attr('target','_blank').text(d=>(window.location + (d.userrole=='Kehadiran'?'hadir/':'meal/') + d.token).substring(1,30) + '...');
            o.append('td').append('button').on('click',(e, d)=>{
              m = window.location + (d.userrole=='Kehadiran'?'hadir/':'meal/') + d.token;
              api.generate.qrcode(m, gen=>{
                $('#img-qr').attr('src',gen);
              });
              $('.popup').removeClass('hide');
              $('#link-panel').html('Link: ' + window.location + (d.userrole=='Kehadiran'?'hadir/':'meal/') + d.token +'  Passcode: ' + d.pwd)
            }).text('...')
          })
        })
    }

    function saveUserBorangQR(){
      var data = {
        userrole: $('#cmbborang').val(),
        username: $('#txtoperator').val(),
        notes: $('#txtnota').val(),
        pwd: generateRandomString(5),
        zon: $('.zon.selected').attr('zon')
      };

      console.log(data);

      api.addUser(data, (result)=>{
        loadUsers();
      })
    }
  </script>

  <script>
    var MENUS = {
      fizikal:[
        {label: 'Kehadiran', link:'./kehadiran', render: ()=>{$('.panel-body').addClass('hide');$('.body-kehadiran').removeClass('hide');}},
        {label: 'Walk-in', link:'./walkin', render: ()=>{$('.panel-body').addClass('hide');$('.body-walkin').removeClass('hide');}},
        {label: 'Pertandingan', link:'./pertandingan', render: ()=>{$('.panel-body').addClass('hide');$('.body-pertandingan').removeClass('hide');}},
        {label: 'Dashboard', link:'./dashboard', render: ()=>{$('.panel-body').addClass('hide');$('.body-dashboard').removeClass('hide');}}
      ],
      online:[
        {label: 'Quiz Manager', link:''}
      ]
    }
  </script>

  <script>

    var renderMenus = (area)=>{
      data = MENUS[area];
      mn = d3.select('#main-menu-panel');
      mn.selectAll('*').remove();

      mn.selectAll('.menu').data(data).enter().append('div').call(o=>{
        o.attr('class','menu');
        o.text(d=>d.label);
        o.on('click',(e, d)=>d.render());
      });

      $('.menu').on('click', (e)=>{
        $('.menu').removeClass('selected');
        $(e.currentTarget).addClass('selected');
      });
      
    }


    $(document).ready(()=>{

      /*popup and copy handling*/
        $('#btnClose').on('click',()=>{
          $('.popup').addClass('hide');
        });

        $('#btnCopy').click(function() {
          const linkPanelText = $('#link-panel').html();
          const dummyElement = $('<textarea>').val(linkPanelText).appendTo('body').select();
          
          try {
            const successful = document.execCommand('copy');
            const message = successful ? 'Text copied to clipboard!' : 'Unable to copy text.';
            console.log(message);
          } catch (err) {
            console.error('Failed to copy text:', err);
          }
          
          dummyElement.remove();
      });
      /*--------------------------------------*/

      /*PERTANDINGAN*/
        function loadPertandingan(){
          var peringkat = $('#cmbperingkat').val();
            api.loadPertandingan('fizikal', peringkat, data=>{
              console.log(data);
              d3.select('#cmbpertandingan').selectAll('option').remove();
              d3.select('#cmbpertandingan').append('option').attr('value','');
              d3.select('#cmbpertandingan').selectAll('.option-pertandingan').data(data).enter().append('option').call(o=>{
                o.attr('class','option-pertandingan').attr('value',d=>d.prog_code).text(d=>d.prog_name);
              });
            })
        }

        loadPertandingan();


        /*--------------------------DASHBOARD--------------------------*/
        function loadStatsHadir(peringkat){
          var zon = $('.zon.selected').attr('zon');
          api.stats.kehadiran(zon, peringkat, data=>{
            console.log(data);

            var total={
              kehadiran: 'TOTAL',
              jangka_hadir: 0,
              telah_hadir: 0,
              belum_hadir:0
            }

            data.forEach(d=>{
              total.jangka_hadir += d.jangka_hadir;
              total.telah_hadir += d.telah_hadir;
              total.belum_hadir += d.belum_hadir;
            });

            data.push(total);

            var db = d3.select('#statsHadir' + (peringkat!==''?('-' + peringkat):''));
            db.selectAll('*').remove();
            db.selectAll('tr').data(data).enter().append('tr').call(o=>{
              o.append('td').attr('style','text-align:center').text((d,i)=> i+1);
              o.append('td').text(d=>d.kehadiran);
              o.append('td').attr('style','text-align:center').text(d=>d.jangka_hadir);
              _h = o.append('td').attr('style','text-align:center');
              _h.append('span').attr('style','font-weight:bold;color:#008').text(d=>d.telah_hadir);
              _h.append('span').attr('style','color:#656565;margin-left:10px').text(d=>Math.round(d.telah_hadir/d.jangka_hadir*100,2) + '%');
              _xh = o.append('td').attr('style','text-align:center');//.text(d=>d.belum_hadir);
              _xh.append('span').attr('style','font-weight:bold;color:#800').text(d=>d.belum_hadir);
              _xh.append('span').attr('style','color:#656565;margin-left:10px').text(d=>Math.round(d.belum_hadir/d.jangka_hadir*100,2) + '%');
            });

          })
        }

        setInterval(()=>{
          t = getCurrentTime();
          $('.clock').text(t);
        }, 1000);

        loadStatsHadir('');
        setInterval(()=>{loadStatsHadir('')}, 10000);
        
        loadStatsHadir('Rendah');
        setInterval(()=>{loadStatsHadir('Rendah')}, 10000);
        
        loadStatsHadir('Menengah');
        setInterval(()=>{loadStatsHadir('Menengah')}, 10000);

        $('#cmbperingkat').on('change',()=>{
          loadPertandingan();
        });

        $('#btnPertandingan').on('click', ()=>{
          console.log($('#cmbpertandingan').val());
          var kod = $('#cmbpertandingan').val();
          api.loadPeserta(kod, data=>{
            console.log(data);
            var _kodsekolah = [];
            data.forEach(d=>{_kodsekolah.push(d.kodsekolah)});
            _kodsekolah = distinct(_kodsekolah);
           
            var sekolah = [];
            _kodsekolah.forEach(k=>{
              sekolah.push({
                kodsekolah:k, 
                negeri: data.filter(d=>d.kodsekolah==k)[0].negeri,
                namasekolah: data.filter(d=>d.kodsekolah==k)[0].namasekolah,
                k1:data.filter(d=>d.kodsekolah==k && d.kumpulan==1), 
                k2:data.filter(d=>d.kodsekolah==k && d.kumpulan==2)
              });
            });
            console.log(sekolah);

            var comp = d3.select('.body-pertandingan > .bottom');
            comp.selectAll('*').remove();
            comp.selectAll('.pertandingan').data(sekolah).enter().append('div').call(o=>{
              p = o.attr('class','pertandingan f-column width-full');
              h = p.append('div').attr('style','cursor:pointer').attr('class','pertandingan-header f-row width-full');
              h.append('img').attr('class','img-negeri').attr('src',d=>'./img/states/' + d.negeri + '.png');
              h.append('div').attr('class','nama-sekolah f-grow-2').text(d=>'(' + d.kodsekolah + ') ' + d.namasekolah);

              h.on('click',(e)=>{
                $(e.currentTarget).parent().find('.panel-kumpulan').toggleClass('hide');
              })

              grp = p.append('div').attr('class','f-row width-full f-center panel-kumpulan hide');
              grp.selectAll('.table-group').data(d=>[d.k1,d.k2]).enter().append('div').call(o=>{
                o.attr('class',d=>'table-group width-50 f-gap-2 f-column ' + (d.length===0?'hide':''));

                pnl = o.append('div').attr('class','f-column width-full').attr('style',d=>{
                  r = '';
                  if(d.length>0){

                    if(d[0].status_peserta===1){
                      r = 'background-color:#880000;color:#fff;padding:15px'
                    }else{
                      r = d[0].hadir===1?'background-color:#1b67f5;color:#fff;padding:15px':'background-color:#000;color:#fff;padding:15px'
                    }
                    
                  }else{
                    r = 'background-color:#000;color:#fff;padding:15px'
                  }
                  return r;
                });
                pnl.append('div').text(d=>d.length>0?('Kumpulan: ' + d[0].nama_kumpulan):'');
                pnl.append('div').text(d=>d.length>0?('Pengiring: ' + d[0].pengiring):'');
                
                pnl.append('div').classed('hide',d=>{
                  hide = true;
                  if(d.length>0){
                    if(d[0].status_peserta==1){
                      hide=false
                    }
                  }
                  return hide
                }).text('* Penyertaan dibatalkan kerana tidak memenuhi atau melanggar syarat ditetapkan');
                

                tbl = o.append('table').attr('class','table width-full');
                trh = tbl.append('thead').append('tr');
                trh.selectAll('th').data(['#','Nama','KP']).enter().append('th').text(d=>d);
                tbdy = tbl.append('tbody');
                tbdy.selectAll('tr').data(d=>d).enter().append('tr').call(tr=>{
                  tr.append('td').attr('style',d=>'text-align:center;' + (d.hadir==1?'background-color:#1b67f5;color:#fff':'')).text((d,i)=>i+1);
                  tr.append('td').text(d=>d.nama);
                  tr.append('td').attr('style','width:40px').text(d=>d.kp);
                })
              })

            })
          });
        });
      /*--------------------------------------*/

        $('#addUser').on('click', ()=>{
          saveUserBorangQR();
        })

        $('.nav .nav-item').on('click',(e)=>{
        var sub = $(e.currentTarget).attr('for');
        if(sub=='nav-fizikal'){
          $('.panel').addClass('hide');
          $('.panel-fizikal').removeClass('hide');
          renderMenus('fizikal');
        }else if(sub=='nav-online'){
          $('.panel').addClass('hide');
          $('.panel-online').removeClass('hide');
          renderMenus('online');
        }

        $('.sub-nav').addClass('hide');
        $('.' + sub).removeClass('hide');
        $('.nav .nav-item').removeClass('selected');
        $(e.currentTarget).addClass('selected');
      });

      $('.sub-nav .nav-item').on('click', (e)=>{
        $('.sub-nav .nav-item').removeClass('selected');
        $(e.currentTarget).addClass('selected');
      });

      $('.zon').on('click',()=>{
        loadUsers();
      })

      renderMenus('fizikal');

      loadUsers();
    });

   
    
  </script>

  <%}%>
</body>
</html>
